# Diretórios de ambiente virtual
venv/
.venv/
env/

# Configurações do VS Code
.vscode/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Pastas específicas do seu projeto
/memoria/__pycache__/
/logs/
/graficos/

# Arquivos gerados pelo sistema
.DS_Store
Thumbs.db

# Arquivos de log e debug
*.log
*.tmp